body
{
    background-image:url(/Images/nada.jpg);
    background-repeat:no-repeat;
    background-size:cover;
}

.Buttonclass
{
    width:10%;
    margin:44px;
}

#buttons
{
    position:relative;
    top:9%;
    left:6%;
    background-image:url(/Images/banner.png);
    width:1734px;
    height:282px;
}

#contentmaster
{
    position:relative;
    top:16%;
    left:13%;
    width:1450px;
}

#form1
{
    height:3720px;
    width:1850px;
}

.Content
{
        font-family:'Courier New';
        font-size:xx-large;
        color:white;
}

#HQ
{
    width:1440px;
}