body
{
    background-image:url(/Images/posmockup.jpg);
    background-repeat:no-repeat;
    background-size:cover;
}

.Buttonclass
{
    width:10%;
    margin:20px;
}

#buttons
{
    position:relative;
    top:390px;
    left:170px;
}

#contentmaster
{
    position:relative;
    top:720px;
    left:230px;
}